# IDEs and Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.iml
*.sublime-workspace
*.sublime-project
.DS_Store

# Logs
logs/
*.log

# OS
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Rust
target/
**/*.rs.bk

# General
tmp/
temp/